In [2]:
# a random dataset for a garage 
import pandas as pd
import numpy as np
import random
df = pd.DataFrame({
    'Car_ID': range(1, 101),
    'Make': np.random.choice(['Toyota', 'Ford', 'BMW', 'Audi', 'Honda'], 100),
    'Model': np.random.choice(['Model A', 'Model B', 'Model C', 'Model D'], 100),
    'Year': np.random.randint(2000, 2023, 100),
    'Mileage': np.random.randint(5000, 200000, 100),
    'Price': np.random.randint(2000, 50000, 100),
    'Color': np.random.choice(['Red', 'Blue', 'Green', 'Black', 'White', 'Silver'], 100),
    'Owner_Count': np.random.randint(1, 5, 100)})


df

    Car_ID    Make    Model  Year  Mileage  Price   Color  Owner_Count
0        1   Honda  Model A  2014   153661  41008    Blue            3
1        2     BMW  Model B  2013    51027  24491   White            1
2        3    Ford  Model B  2016   154821   7123  Silver            2
3        4    Audi  Model D  2022   147073   8255   Black            2
4        5    Ford  Model D  2020    14238  16581  Silver            1
..     ...     ...      ...   ...      ...    ...     ...          ...
95      96  Toyota  Model A  2000    47237   7031   Green            1
96      97     BMW  Model A  2014   178775  31165   White            1
97      98  Toyota  Model A  2012   111421  40202    Blue            2
98      99  Toyota  Model C  2020    24303  14778     Red            1
99     100  Toyota  Model B  2015    19832   9101  Silver            2

[100 rows x 8 columns]